body {
    font-family: 'Press Start 2P', cursive;
    color: #1f611f;
    background-color: #e6e6e6;
}

#gameCanvas {
    margin: auto;
    display: block;
    font-family: 'Press Start 2P', cursive;
}

#header {
    text-align: center;
    margin: 30px 0 100px 0;
    font-size: 35px;
    font-family: 'Press Start 2P', cursive;
}

#score-box {
    text-align: center;
    font-family: 'Press Start 2P', cursive;
}

#score {
    font-family: 'Press Start 2P', cursive;
}